* {
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: Deli;
    src: url(Deli.otf);
}
body {
    padding: 30px;
    background-color:white;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: black ;
    text-align: center;
    font-family: Deli, Helvetica, sans-serif;
}
a:link {
    color: lightblue;
    text-decoration: none;
    padding: 20px;
    
}
a:visited {
    color: blue;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
p {
    padding-bottom: 5px;
    color: black;
    text-align: center;
    

}
h2 {
color: black;
padding: 10px   ;
font-family: Deli, Helvetica, sans-serif;

}
li {
    color: black;
    padding: 10px;
}
.container{
    display: grid;
    grid-template-columns: 200px auto;

}
.sidebar{
    border: 5px black solid;
    margin-right: 10px;
    padding: 20px;

}
.content{
    margin: 20px;
    padding: 20px;
    text-size-adjust: 30;
}
.countrycontainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.card {
	border: 1px solid rgb(12, 34, 56);
	border-radius: 10px;
	margin: 5px;
    
}
.card img{
    max-width: 100%;
    height: auto;
}
@media only screen and (max-width:800px) {
    .container {
        grid-template-columns: 1fr;


    }
    .sidebar{
        border: 5px black solid; 
        border-radius: 5px;
    }
    .sidebar img{
        display: none;
    }
}
.sidebar img{
    max-width: 100%;
    height: auto;
}
